@media screen and (max-width: 380px){ 
    .grid-container {
        /* width: 100vw;
        height:100%; */
        display: grid;
        grid-template-areas:
        
        "main main";   
    }

    .resultat {
        font-size: 15px;
    }

    p {
        font-size: 18px;
    }

    html{
        background-color: rgb(43, 39, 39);  
        object-fit: fill;
    }
    header {
        display: none;
    }

    footer {
        display: none;
    }
}


@media screen and (min-width: 381px) and (max-width: 667px){ 
    .grid-container {
        /* width: 100vw; */
        /* height:100%; */
        display: grid;
        background-color: rgb(43, 39, 39);
        grid-template-areas:
        
        "main main";   
    }

    html{
        background-color: rgb(43, 39, 39);  
        object-fit: fill;
    }

    header {
        display: none;
    }

    footer {
        display: none;
    }
    
    .resultat {
        font-size: 15px;
    }

    p {
        font-size: 18px;
    }
}